---
---
// Basic blocks
@import "variables";
@import "base";
@import "cards";
@import "social-media";
@import "sections";
@import "slider";

.img-placeholder {
  background-color: #aaa;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  margin: 20px 0;
  border: 1px solid #999;
}

// Content blocks
@import "footer";
@import "menu";
@import "news";
@import "landing";
@import "services";
@import "call-to-action";
@import "mission";
@import "team";
@import "logos";

@media only screen and (max-width: 53.125em) {
  .show-for-850-up {
    display: none;
  }
}

@media only screen and (max-width: 40em) {
  br {
    display: none;
  }
}
