.b-logos {
  padding-bottom: 20px; // 20px + 60px img margin-bottom = 80px
  text-align: center;
  .row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 40.063em) {
    	flex-flow: row nowrap;
    }
    img {
      max-height: 45px;
      max-width: 100%;
      margin: 0 0 2.5em;
      @media screen and (min-width: 40.063em) {
        max-height: 80px;
      }
    }
  }
}
