body {
  font-family: $text-font;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1, h2, h3, h4, h5 {
  font-family: $title-font;
}

.lt-ie10 {
  h1, h2, h3, h4, h5 {
    font-family: sans-serif;
  }
}

p {
  font-weight: 300;
}

h1, h3 {
  font-weight: 400;
}

h2{
  font-weight:500
}

a {
  color: $primary-color;
}

.button {
  background-color: $white;
  color: $gray_45;
  border: 1px solid $gray_15;
  padding: 9px 12px 10px;
  border-radius: 2px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 600;
}

.button:hover {
  background-color: $primary-color;
}

// Vertically middle align with table/cell
.display-table {
    display: table;
    height: 100%;
    width: 100%;

    .display-cell {
        display: table-cell;
        float: none!important;
        vertical-align: middle;
        height:100%;
    }
}

.full-width {
  max-width:100% !important;
}

.gray{
  background-color:$gray;
}