.b-call-to-action {
  .e-call-to-action-title {
    text-align: center;
    color: $white;
    font-size:2rem;
    font-weight: 500;
    line-height:1;
  }

  .button {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid $white_30;
    color: $white;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom:0;
    text-transform: none!important;
  }

  .button:hover {
    background-color: $white_30;
  }
}

.b-subscribe {

  padding: 120px 10px !important;


  input[type="email"] {
    border: 1px solid $white_30;
    border-right: 0;
    background-color: transparent;
    font-family: $sans-serif-font;
    font-size: 0.875rem;
    letter-spacing: 2px;
    font-weight: 400;
    color: $white_50;
    margin-bottom:0;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: $white;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $white;
      opacity: 1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $white;
      opacity: 1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $white;
    }
  }

  input[type="email"]:focus {
    background-color: $white_10;
  }

  .button:hover {
    background-color: $white_30;
  }
}

//Medium down
@media only screen and (max-width: 64em) {
  .e-call-to-action-title {
    margin-bottom:40px;
  }
}
