.b-footer {
  background-color: $black;
  color: $white;
  padding-top: 60px;
  padding-bottom: 60px;
  @media only screen and (max-width: 40em) {
      text-align: center;
    }
  h4 {
    color: $white;
    padding-bottom:2%;
  }

  .e-footer-left-section {
    padding-bottom: 30px;

    img {
      margin: 0 0 15px;
      display: block;
      @media only screen and (max-width: 40em) {
        margin:0 auto 15px;
      }
    }
    span{
      display:block; 
    }
  }

  .e-footer-right-section {
      padding-top:2%; 
  }
}
