.b-landing {
  border-bottom:0;
  padding-bottom:0;
  position: relative;
  text-align:center;
  
  h1 {
    color: $white;
    display:inline-block;
    line-height: 1.2;
    text-align:left;
    text-transform:uppercase;
    br{
      display:initial!important;
    }
  }

  .b-backgrounds {

    .e-bg {
      width: 100%;
      height: 100%;
      //padding-bottom:53%;
      opacity: 0;
      background-size: cover;
      background-position: center;
      -o-transition: opacity 4s ease;
      -ms-transition: opacity 4s ease;
      -moz-transition: opacity 4s ease;
      transition: opacity 4s ease;
    }

    .m-img1{
     // background-image:url('../img/map.jpg');
    }

    .m-visible {
      opacity: 1;
    }
  }

  .row-wrap{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  .row{
    max-width:none;
  }


  .landing-left-column{
    background-color: $primary-color-dark-1_80;
    padding:4%;
  }
  .landing-right-column{
    background-color: rgba(0,0,0,0.05);
  }
}

@media only screen and (max-width: 40em) {
  .b-landing h1 {
    font-size: 1.6875rem;

  }
}

@media only screen and (min-width: 40.063em) {
  .b-landing h1 {
    font-size: 3rem;
  }

  #fr .b-landing h1 {
    font-size: 1.85rem;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-landing {
    .landing-left-column{
      padding:80px;
    }

    h1 {
      font-size: 4rem;
    }
  }

  #fr .b-landing h1 {
    font-size: 3rem;
  }
}
