.b-logos {
  padding-bottom: 0;
  text-align: center;

  img {
    max-height: 100px;
    max-width: 200px;
    margin: 0 0 60px;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-logos {
    padding-bottom: 60px;
  }
}
