.b-main-menu {
  display: block;
  clear: both;
  position: relative;
  width: 100%;
  z-index: 100;
  @media only screen and (min-width: 64.063em) {
    overflow: hidden;
  }

  .e-main-menu-wrapper {
    display: table;
    margin: 0 auto;
    max-width: 64.063em;
    width: 100%;
    @media only screen and (max-width:1025px) {
      display: block;
      max-width: 100%;
    }
  }

  .e-main-menu-trigger {
    display: none;
    position: absolute;
    right: 25px;
    top: 22px;
    z-index: 900;
    @media only screen and (max-width:1025px) {
      display: block;
    }

    i {
      color: $black;

      &:hover {
        color: $gray_60;
      }
    }
  }
  
  .b-main-logo {
    margin: 0;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 30%;
    @media only screen and (max-width: 40em) {
      font-size: 2.75rem;
    }
    @media only screen and (max-width:1025px) {
      display: initial;
      width: auto;
    }

    a, span {
      display: inline-block;
      padding: 5px 10px;
      @media only screen and (max-width:1025px) {
        display: block;
        padding: 5px 10px 10px;
        text-align: center;
      }
    }

    a:hover {
      opacity: 0.8;
    }

    span {
      @media only screen and (max-width: 20em) {
        text-align: left;
      }
    }
  }

  .b-main-menu-container {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    @media only screen and (max-width:1025px) {
      display: none;
    }
  }

  &.m-active .b-main-menu-container {
    @media only screen and (max-width:1025px) {
      display: block;
    }
  }

  .b-main-menu-list {
    @media only screen and (min-width: 1050px) {
      margin-right: -20px;
    }
  }

  .e-menu-item {
    color: $black;
    display: inline-block;
    font-family: $title-font;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    @media only screen and (max-width:1025px) {
      display: block;
    }

    &:hover {
      color: $gray_60;
      @include transition;
    }

    span {
      display: block;
      margin: 0 40px;
      padding: 15px;
      @include chizel-line;
      @media only screen and (min-width: 64.063em) {
        border-bottom: 0;
        box-shadow: none;
        margin: 0;
        padding: 25px 20px;
      }
      @media only screen and (max-width:320px) {
        margin: 0;
      }
    }
  }

  // IE10 Fix
  &.lt-ie10 .e-menu-item {
    font-family: sans-serif;
  }
}
