.b-main-menu {
  background-color: $black;
  position: relative;
  z-index: 100;
  @include dropshadow-big;

  .b-main-logo {
    margin: 0;

    a,
    span {
      opacity: .8;
      text-align: center;
      display: block;
      padding: 5px 10px 10px;
    }

    a {
      &:hover {
        opacity: 1;
      }
    }
  }

  .e-main-menu-trigger {
    z-index: 900;
    position: absolute;
    right: 25px;
    top: 25px;

    i {
      color: $white_80;

      &:hover {
        color: $white;
      }
    }
  }

  .e-menu-item,
  .e-language-switcher {
    color: $white_80;
    font-family: $title-font;
    font-weight: 400;
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }

  .e-menu-item:hover {
    background-color: $white_10;
    color: $white;
    @include transition;
  }

  .e-menu-item span,
  .e-language-switcher {
    display: block;
    margin: 0 40px;
    padding: 15px;
    @include chizel-line;
  }

  .e-language-switcher {
    > a {
      color: $white_80;
      border-left: 1px solid $white_10;

      &:first-child {
        border-left: 0;
      }
    }
  }
}

.b-main-menu .b-main-menu-container {
  display: none;
}

// X-small screens
@media only screen and (max-width: 20em) {
  .b-main-menu {
    .b-main-logo {
      span {
        text-align: left;
      }
    }
  }
}

// Small screens
@media only screen and (max-width: 40em) {
  .b-main-menu {
    .b-main-logo {
      font-size: 2.75rem;
    }
  }
}

// Not large screens
@media only screen and (max-width: 64em) {
  .b-main-menu.m-active .b-main-menu-container {
    display: block;
  }

  .e-language-switcher:hover {
    background-color: $white_10;
    color: $white;
    @include transition;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-main-menu {
    overflow: hidden;

    .e-main-menu-wrapper {
      max-width: 64.063em;
      margin: 0 auto;
      display: flex;
    }

    .b-main-logo {
      margin: 0 30px 0 0;
      float: left;
    }

    .e-main-menu-trigger {
      display: none;
    }

    .b-main-menu-container {
      display: flex;
      text-align: right;
      flex: 1;
    }

    .e-language-switcher {
      padding: 20px;

      a {
        font-size: .9rem;
      }
    }

    .b-main-menu-list {
      flex: 1;
    }

    .e-menu-item {
      font-size: 1.1rem;
      display: inline-block;
      border-left: 1px solid $white_10;
    }

    .e-menu-item span {
      margin: 0;
      padding: 25px 20px;
    }

    .e-menu-item:last-of-type {
      border-right: 1px solid $white_10;
    }

    .e-language-switcher {
      > a {
        padding: 5px 15px;

        &:hover {
          background-color: $white_10;
          color: $white;
          @include transition;
        }
      }
    }

    .e-menu-item span,
    .e-language-switcher {
      border-bottom: 0;
      box-shadow: none;
    }
  }
}
