.b-main-menu {
  position: relative;
  z-index: 100;

  .b-main-logo {
    margin: 0;

    a, span {
      display: block;
      padding: 5px 10px 10px;
      text-align: center;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  .e-main-menu-trigger {
    z-index: 900;
    position: absolute;
    right: 25px;
    top: 25px;

    i {
      color: $black;

      &:hover {
        color: $gray_60;
      }
    }
  }

  .e-menu-item {
    color: $black;
    font-family: $title-font;
    font-weight: 400;
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }

  .e-menu-item:hover {
    color: $gray_60;
    @include transition;
  }

  .e-menu-item span {
    display: block;
    margin: 0 40px;
    padding: 15px;
    @include chizel-line;
  }
}



// X-small screens
@media only screen and (max-width: 20em) {
  .b-main-menu {
    .b-main-logo {
      span {
        text-align: left;
      }
    }
  }
}

// Small screens
@media only screen and (max-width: 40em) {
  .b-main-menu {
    .b-main-logo {
      font-size: 2.75rem;
    }
  }
}

// Not large screens
@media only screen and (max-width:1025px) {
  .b-main-menu.m-active .b-main-menu-container {
    display: block;
  }
  .b-main-menu .b-main-menu-container {
    display: none;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-main-menu {
    overflow: hidden;

    .e-main-menu-wrapper {
      max-width: 64.063em;
      margin: 0 auto;
      display: flex;
    }

    .b-main-logo {
      margin: 0 30px 0 0;
      float: left;
    }

    .e-main-menu-trigger {
      display: none;
    }

    .b-main-menu-container {
      display: flex;
      text-align: right;
      flex: 1;
    }



    .b-main-menu-list {
      flex: 1;
    }

    .e-menu-item {
      display: inline-block;
    }

    .e-menu-item span {
      margin: 0;
      padding: 25px 20px;
    }

    .e-menu-item span {
      border-bottom: 0;
      box-shadow: none;
    }
  }
}

.lt-ie10 .b-main-menu {
  .e-menu-item {
    font-family: sans-serif;
  }
}
