.b-mission {
  	padding:40px 10px;

  	p{
  		margin-bottom:0;
  	}	
}
@media only screen and (min-width: 40.063em) {
  	.b-mission {
  		padding:80px 10px;
  		p{
	      font-size:1.8rem;
	    } 
	}
}
@media only screen and (min-width: 64.063em) {
  .b-mission {
    p{
      font-size:2.4rem;
      line-height:1.3;
    } 
  }
}
