.b-news {
  display: none;
  height: 50px;
  overflow: hidden;
  @media only screen and (min-width: 64.063em) {
    display: block;
    background-color: $primary-color-dark-1;
  }

  .js-news-wrapper {
    @media only screen and (min-width: 64.063em) {
      position: relative;
      white-space: nowrap;
    }
  }

  .e-news-item {
    padding: 12px 0 0;
    font-weight: 600;
    font-family: $sans-serif-font;
  }

  h5 {
    color: $white_70;
    font-size: 1rem;

    a {
      color: $white_70;
      letter-spacing: .3px;

      &:hover {
        @media only screen and (min-width: 64.063em) {
          color: $white;
        }
      }
    }
  }
}
