.b-news {
  display: none;

  .e-news-item {
    padding: 12px 0 0;
    font-weight: 600;
    font-family: $sans-serif-font;
  }

  h5 {
    color: $white_70;
    font-size: 1rem;

    a {
      color: $white_70;
      letter-spacing: .3px;
    }
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-news {
    display: block;
    background-color: $primary-color-dark-1;
    height: 50px;

    .js-news-wrapper {
      position: relative;
    }

    h5 a:hover {
      color: $white;
    }
  }
}
