.b-content-section {
  padding-bottom: 80px;
  border-bottom: 1px solid $gray_15;
}

.e-section-title {
  text-align: center;
  margin: 60px 0; // 60px + 20px h2 line-height = 80px
  color: $black;
}

.m-dark-panel {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $primary-color;
  @include inner-shadow-big;
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-content-section {
    .e-section-title {
      font-size: 5rem;
      padding-top: 0;
    }
  }

  .b-text-block {
    margin-bottom: 60px;

    a:hover {
      background-color: $primary-color;
      color: $white;
    }

    a:hover {
      padding: 0 5px;
      margin: 0 -5px;
    }
  }

  .b-content-section.m-dark-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
