.b-content-section {
  padding-bottom: 80px;
}

.b-text-block {
    margin-bottom: 60px;
}

.e-section-title {
  text-align: center;
  margin: 80px 0 40px;
  color: $black;
}

.m-dark-panel {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $primary-color;
}

//Medium screens
@media only screen and (min-width: 40.063em) {
  .b-text-block {
    margin-bottom: 70px;
    font-size:1.5rem;
  }
}


// Large screens
@media only screen and (min-width: 64.063em) {
  .b-content-section {
    .e-section-title {
      font-size: 40px;
      padding-top: 0;
    }
  }

  .b-text-block {

    a:hover {
      background-color: $primary-color;
      color: $white;
    }

    a:hover {
      padding: 0 5px;
      margin: 0 -5px;
    }
  }

  .b-content-section.m-dark-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
