.b-content-section {
  padding-bottom: 80px;
}
#products{
  padding-bottom:20px;
}

.b-text-block {
    margin-bottom: 60px;
}

.e-section-title {
  text-align: center;
  margin: 80px 0 40px;
  color: $black;
}

.m-dark-panel {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $primary-color;
}

.border-bottom:after{
  border-bottom:1px solid $gray;
  content: '';
  display:block;
  margin:auto;
  width:70%;
}

//Medium screens
@media only screen and (min-width: 40.063em) {
  .b-text-block {
    margin-bottom: 70px;
    font-size:1.5rem;
  }

  .e-section-title.big{
    font-size:40px;
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-content-section {
    .e-section-title {
      font-size: 40px;
      padding-top: 0;

      &.big{
        font-size:48px;
      }
    }
  }

  .b-text-block {

    a:hover {
      background-color: $primary-color;
      color: $white;
    }

    a:hover {
      padding: 0 5px;
      margin: 0 -5px;
    }
  }

  .b-content-section.m-dark-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
