.b-services {
  padding-bottom:0;

  h2 {
    text-align: center;
  }

  br {
    @media only screen and (min-width: 20.063em) and (max-width:1025px) {
      display: none;
    }
  }
}

.b-circle {
  border-radius: 50%;
  background-color: #ddd;
  height: 0;
  margin: 20px auto;
  overflow: hidden;
  padding-bottom: 80%;
  width: 80%;

  @media only screen and (min-width: 20.063em) and (max-width:1025px) {
    padding-bottom: 232px;
    width: 232px;
  }
}
