.b-slider {
  background-color:white;
  overflow:auto;
  position: relative;
  min-height:700px;
  @media only screen and (min-width: 50.063em) {
      min-height:700px;
}

  > ul {
    display: inline-block;
    margin: 0;
  }

  .b-slider-item {
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
    background-repeat:norepeat;
    float: left;
    list-style: none;

    .display-table{
      @media only screen and (min-width: 50.063em) {
        min-height:600px;
      }
    }
  }

  #slide-citizen{
    background-color:#376BBA;
    background-image: url(../img/screenshots/slider-bg-test.png);
  }
  #slide-represent{
    background-color:#349CAA;
    background-image: url(../img/screenshots/slider-bg-test.png);
  }
  #slide-3{
    background-color:$blue;
    background-image: url(../img/screenshots/slider-bg-test.png);
  }


  .slide-left-col {
    padding:10% 13%;
    position:relative;


    h2, p, a{
      color:white;
    }
    p{
      font-weight:400;
      margin-top:20px;
    }

    p+p{
      margin-top:40px;
    }
    a{
      i{
        font-size:90%;
        margin-left:20px;
      }
    }
  }
  .slide-right-col{
    position: relative;
    img.screenshot{
      position:absolute;
        bottom:0;
        left:-15%;
    }
  }

  .dots {
    background-color: #FFFFFF;
    margin:0;
    padding:20px 0;
    position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    text-align: center;

    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 7px;
      text-indent: -999em;
      background-color: $gray_15;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: $gray_45;
      }
      &.active {
        background-color: $primary_color;
      }
    }
  }
}

//large screens
@media only screen and (max-width: 50em) {
  .b-slider {

    .display-table, .display-cell{
      display:block!important;
      height: auto!important;
      width:100% !important;
    }


    .slide-left-col {
      padding:10% 7%;

    }
    .slide-right-col{
      text-align:center;

      img.screenshot{
        position:initial;
        width:80%;
      }
    }
  }
}
