.b-content-section.b-people {
  padding-bottom: 50px; // 50px + 30px .b-card margin-bottom = 80px
}

.b-card.m-team {
  height: 390px;
  background-color: $white;
  position: relative;
}

@media only screen and (max-width: 25em) {
  .b-people .small-6 {
    width: 100%;
  }
}