.three-column>.column{
  padding:0;
}

.col-header {
  color:white;
  padding:30px 20px 20px;
  text-align:center;

  @media only screen and (min-width: 40.063em) {
    padding:60px 20px 30px;
  }

  .icon-wrap{
    vertical-align:bottom;
  }

  img{
    margin-bottom:30px;
    @media only screen and (min-width: 40.063em) {
      margin-bottom:50px;
    }
  }

  h3{
    color:white;
    font-weight:bold;
    @media only screen and (min-width: 40.063em) {
      font-size:1.6rem;
    }
  }
}
.col-content {
  background-color: #FFFFFF;
  padding: 45px 7%;

  &.middle{
    background-color:$gray;
  }

  *{
    @media only screen and (min-width: 40.063em) {
      font-size:1.2rem;
    }
  }
}

#products-columns{
  .col-content {
    ul {
      list-style:none;

      @media only screen and (min-width: 64.063em){
        margin-bottom: 35px;
        margin-top: 35px;
      }

      li{
        line-height:1.1;
        margin-left:1em;
        padding: 3px 0;
      }

      li:before {
        content: '>';
        color:$blue;
        font-size: 1.5rem;
        margin-right:10px;
        margin-left:-1em;
      }
    }
  }
} 

#products-1 {
  background-color: $blue;
}
#products-2 {
  background-color: #4080E0;
}
#products-3 {
  background-color: #376BBA;
}
#services-1 {
  background-color: #37AABA;
}
#services-2 {
  background-color: #349CAA;
}
#services-3 {
  background-color: #277E8A;
}