$black: #333;
$teal: rgba(0, 120, 160, 1);
$teal_70: rgba(0, 120, 160, .7);
$teal_20: rgba(0, 120, 160, .2);

$red: rgba(150, 0, 0, 0.9);
$red_70: rgba(150, 0, 0, 0.7);
$red_100: rgba(150, 0, 0, 1);

$primary-color: rgba(198,0,0,1);
$primary-color_80: rgba(198,0,0,.8);
$primary-color-dark-1: rgba(150, 0, 0, 1);
$primary-color-dark-1_80: rgba(150, 0, 0, .8);
$primary-color-light-1: rgba(210, 50, 50, 1);
$primary-color-light-2: rgba(220, 100, 100, 1);

$gray_15: rgba(0,0,0,0.15);
$gray_25: rgba(0,0,0,0.25);
$gray_45: rgba(0,0,0,0.45);
$gray_60: rgba(0,0,0,0.6);
$white_10: rgba(255,255,255,0.1);
$white_30: rgba(255,255,255,0.3);
$white_50: rgba(255,255,255,0.5);
$white_70: rgba(255,255,255,0.7);
$white_80: rgba(255,255,255,0.8);
$white: rgba(255,255,255,.9);

$blue: #468DF7;
$gray: #F5F5F5;

$font-color: #222;

$title-font: 'Yantramanav', 'Fira Sans', sans-serif;
$text-font: 'Yantramanav', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$sans-serif-font: 'Yantramanav', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;


@mixin chizel-line {
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  box-shadow: 0 -1px 0 rgba(0,0,0,.15) inset;
}

@mixin dropshadow {
  box-shadow: 0 1px 4px $gray_15;
}

@mixin dropshadow-big {
  box-shadow: 0 4px 15px $gray_45;
}

@mixin inner-shadow-big {
  box-shadow: 0 4px 10px $gray_25 inset;
}

@mixin arrow-icon($image) {
  content: '';
  background: url($image) no-repeat center / 60%;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  left: 4px;
}

//
@mixin border-radius($rad) {
    -moz-border-radius: $rad;
    -webkit-border-radius: $rad;
    border-radius: $rad;
}

@mixin box-shadow($shade) {
    box-shadow: $shade;
    -moz-box-shadow: $shade;
    -webkit-box-shadow: $shade;
}
@mixin opacity($o1) {
    $o2: $o1*100;
    -webkit-opacity: $o1;
    -moz-opacity: $o1;
    opacity: $o1;
    filter: alpha(opacity=$o2);
    zoom: 1;
}
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
