.page-navigation-arrow {
  position: fixed;
  top: 88%;
  right: .5em;
  z-index: 100;
  opacity: .65;
  transition: opacity 3ms ease-out;
  &:hover,
  &:active {
    opacity: .9;
  }
  &:focus {
    background-color: $red_70;
  }
  @media screen and (min-width: 1160px) {
    right: calc((100vw - 1155px) / 2 );
  }
}

.pagination {
  text-align: right;
  & > span {
    //display: none;
  }
  & > em {
    color: #555;
    font-style: normal;
  }
  & > * {
    font-size: 1.25em;
    padding: .25em;
  }

  .prev::before {
    @include arrow-icon('/theme/img/icons/arrow-red-left.svg');
  }
  .prev:hover,
  .prev:active{
    &::before {
      @include arrow-icon('/theme/img/icons/arrow-teal-left.svg');
    }
  }

  .next::after {
    @include arrow-icon('/theme/img/icons/arrow-red-right.svg');
  }
  .next:hover,
  .next:active {
    &::after{
      @include arrow-icon('/theme/img/icons/arrow-teal-right.svg');
    }
  }
}

.post-navigation {
	margin-top: 3em;
  p {
    font-weight: 400;
  }
  p.previous::after {
    content: '';
    background: url(/theme/img/icons/arrow-red-right.svg) no-repeat center / 52%;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    left: 2px;
  }
  p.previous:hover::after,
  p.previous:active::after {
    background-image: url(/theme/img/icons/arrow-teal-right.svg);
  }
  p.next::before {
    content: "";
    background: url(/theme/img/icons/arrow-red-left.svg) no-repeat center / 52%;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    left: 2px;
  }
  p.next:hover::before,
  p.next:hover::before {
    background-image: url(/theme/img/icons/arrow-teal-left.svg);
  }
}
