.b-card {
  margin: 0 0 30px;

  .e-card-header {
    padding: 10px 20px;
    background-color: $primary-color;

    h4 {
      color: $white;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0;
      text-align: center;
      font-size: 2rem;
      & > p {
      	font-size: 1.125rem;
        margin-bottom: .3rem;
        line-height: normal;
      }
    }
  }

  .e-card-picture {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-color: $gray_15;
    text-align: right;
  }

  .e-card-content {
    padding: 10px;

    h3 {
      font-weight: 400;
    }
    h4 {
      font-weight: 400;
      font-size: 1.1rem;
    }
  }
}

.b-card.m-team {
  .e-card-content {
    text-align: center;

    h3 {
      margin: 20px 0 0;
    }

    h4 {
      margin:0;
      p {
      	margin-bottom: 0;
      }
    }
  }
}


// Project team cards.
.team-unit {
  padding-top: 2em;
  max-width: 1600px;
  .row {
    max-width: 100rem; // 1200px
  }
  .column.team {
  	float: none;
  	display: flex;
  	flex-flow: row wrap;
    justify-content: center;
    padding-top: 2em;
    & > .columns {
    	width: 100%;
    	float: none;
    }
    .b-card.has-bio {
      height: inherit;
      .e-card-picture {
        height: 200px;
        max-width: 250px;
        margin-right: auto;
        margin-left: auto;
      }
      .e-card-content {
        h3 {
          font-size: 1.4em;
          margin-top: .25em;
        }
        h4,
        h4 p {
          font-size: 1em;
          line-height: 1.25;
        }
        .bio {
          font-size: .95em;
          padding-top: .25em;
          border-top: .5px solid $gray_15;
          margin-top: .25em;
          line-height: 1.25;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .team-unit .column.team > .columns {
    	width: 50%;
    }
}

@media screen and (min-width: 980px) {
  .team-unit .column.team > .columns {
    	width: 33.3%;
    }
}

@media screen and (min-width: 1080px) {
  .team-unit .column.team > .columns {
    	width: 25%;
    }
}

@media screen and (min-width: 1400px) {
  .team-unit .column.team > .columns {
    	width: 20%;
    }
}


// Banner box
.b-content-section.banner-card {
  padding-right: 1em;
  padding-left: 1em;
  .banner {
    border: 2px solid $red_70;
    border-bottom: 0;
    margin-bottom: 0;
    h2 {
      margin: .25rem 0;
    }
  }
  .row.box {
    border: 2px solid $red_70;
    border-top: 0;
    padding-top: 1em;
  }
}


#about{
	padding-bottom:0;
}

#board {
	margin-top: 3em;
}

@supports (display: grid) {
   // TODO: // code that will only run if CSS Grid is supported by the browser
 }

.b-content-section.b-people {
  padding-bottom: 50px; // 50px + 30px .b-card margin-bottom = 80px
}

.b-card.m-team {
  height: 440px;
  background-color: $white;
  position: relative;
}

@media only screen and (max-width: 25em) {
  .b-people .small-6 {
    width: 100%;
  }
}

@media screen and (min-width: 24em) and (max-width: 31.875em) {
  #advisors .b-card.m-team {
  	min-height: 510px;
  }
  #board .b-card.m-team {
  	min-height: 500px;
  }
}
@media screen and (min-width: 40.063em) and (max-width: 56.5625em) {
  #advisors {
    margin-bottom: 2em;
  }
  #advisors .b-card.m-team {
  	min-height: 510px;
  }
  #board .b-card.m-team {
  	min-height: 500px;
  }
}
