// Grid list used in impacts, publications.
.featured-list {
  max-width: 1200px;
  padding: 3em 0;
  margin-top: 2em;
  .row {
    &::after,
    &::before {
      display: none;
    }
    @media screen and (min-width: 40.063em) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      max-width: 94%;
    }
    .featured-item {
      background-color: #fff;
      width: 80%;
      max-width: 500px;
      padding: 0;
      margin: 1em auto 3em auto;
      box-shadow: 5px 5px 15px $gray_15;
      &:hover,
      &:active {
        box-shadow: 5px 5px 15px $gray_25;
        .anchor-link {
          color: $primary-color;
        }
      }
      .featured-image {
      	width: 100%;
      	height: 250px;
        background-position: center top;
      	background-size: cover;
      }
      .featured-description {
        h3 {
          color: $primary-color;
          padding: 1em .25em .5em;
        }
        blockquote {
          border: 0;
          p {
            color: $font-color;
            font-size: inherit;
            margin: 0;
          }
        }
        cite {
          color: $font-color;
          font-style: normal;
          display: inline-block;
          padding: 0 1.875em;
          p {
            font-size: inherit;
            margin: 0;
          }
          &::before {
            font-weight: 300;
            position: absolute;
            left: 14px;
          }
        }
        .anchor-link {
          font-size: 1.175em;
          font-weight: 400;
          width: 100%;
          padding: 0 1.875em .75em;
          position: absolute;
          bottom: 0;
          &::after {
            content: '';
            background: url(/theme/img/icons/arrow-red-right.svg) no-repeat center / 60%;
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 4px;
            left: 4px;
          }
        }
      }
      &.end {
      	//margin-right: auto;
        //margin-left: 3em;
      }
    }
  }
}

.two-column.featured-list .featured-item {
  @media screen and (min-width: 980px) {
    width: 42%;
  }
}

.three-column.featured-list .featured-item {
  @media screen and (min-width: 40.063em) {
    width: 44%
  }
  @media screen and (min-width: 1025px) {
    width: 28%;
  }
}

// 'Featured list' background.
div.impact,
div.publications {
  background-color: $gray;
}

// Padding for absolutely positioned 'learn more' text.
div.impact .featured-list .row .featured-item {
  padding-bottom: 90px;
  position: relative;
}

// Content list pattern used widely throughout site.
// Present in impacts, publications, webinars.
.content-list {
  padding-top: 4em;
  .row > ul {
    list-style: none;
    & > li {
      padding: 1.5em 0;
      border-bottom: 2px solid $gray_15;
      margin-bottom: 3em;

      h3 {
        font-weight: 500;
        width: 100%;
      }
      img {
        float: right;
        max-width: 300px;
        border: 1px solid rgba(55, 55, 55, .15);
        margin: 0 0 2em 3em;
        box-shadow: 2px 2px 8px rgba(55, 55, 55, .15);
      }
      p {
        max-width: 628px;
      }
      .text-right {
        max-width: 100%;
      }
      .link {
        font-weight: 500;
        &::after {
          content: '';
          background: url(/theme/img/icons/arrow-red-right.svg) no-repeat center / 75%;
          display: inline-block;
          width: 18px;
          height: 27px;
          position: relative;
          top: 8px;
          left: 5px;
        }
        &:hover::after {
          background-image: url(/theme/img/icons/arrow-teal-right.svg);
        }
      }
    }
  }
}

// Specific to webinar layout.
.webinars.content-list {
  .content-item {
    padding-bottom: 2em;
    border-bottom: 2px solid $gray_15;
    margin-bottom: 3em;
    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      .text {
        width: 55%;
        padding-right: 3em;
        p {
          margin-bottom: 0;
        }
      }
      .embedded {
        width: 45%;
        iframe {
          height: auto;
          min-height: 300px;
        }
      }
    }
  }
}

// Show more section within list (webinars).
.content-item {
  .accordion {
    color: $primary-color;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: .5rem 0 1rem;
    outline: none;
    transition: all 0.2s ease-out;
    &::after {
      content: 'Show More';
      font-size: 1rem;
      font-weight: 500;
      background: url(/theme/img/icons/arrow-red-down.svg) no-repeat center right / 20px;
      padding-right: 25px;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: $teal;
      &::after {
        background-image: url(/theme/img/icons/arrow-teal-down.svg);
      }
    }
    &.active::after {
      content: 'Show Less';
      background-image: url(/theme/img/icons/arrow-red-up.svg);
    }
    &:hover.active,
    &:active.active {
      color: $teal;
      &::after {
        background-image: url(/theme/img/icons/arrow-teal-up.svg);
      }
    }
  }
  .panel {
    display: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
}

// Tweaks for newsroom content list.
.news.content-list {
  .row > ul li {
    padding: 0;
    border-bottom: 0;
    margin: 0;
    .source {
      font-style: italic;
    }
  }
}
