// Content list pattern used widely throughout site.
// Present in impacts, publications, webinars.
.content-list {
  padding-top: 4em;
  .row > ul {
    list-style: none;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .row > ul > li,
  .row > div {
    //padding: 1.5em 0;
    border-bottom: 2px solid $gray_15;
    margin-bottom: 3em;

    h3 {
      font-weight: 500;
      width: 100%;
    }
    img {
      float: right;
      max-width: 300px;
      //border: .5px solid rgba(155, 155, 155, 0.1);
      margin: 0 0 2em 3em;
      box-shadow: 1px 1px 6px rgba(155, 155, 155, 0.15);
    }
    p {
      max-width: 628px;
    }
    .text-right {
      max-width: 100%;
    }
    .link {
      font-weight: 500;
      &::after {
        content: '';
        background: url(/theme/img/icons/arrow-red-right.svg) no-repeat center / 75%;
        display: inline-block;
        width: 18px;
        height: 27px;
        position: relative;
        top: 8px;
        left: 5px;
      }
      &:hover::after {
        background-image: url(/theme/img/icons/arrow-teal-right.svg);
      }
    }
  }
}

// Specific to webinar layout.
.webinars.content-list {
  .content-item {
    padding-bottom: 2em;
    border-bottom: 2px solid $gray_15;
    margin-bottom: 3em;
    .wrapper {
      @media screen and (min-width: 800px) {
        display: flex;
        flex-flow: row nowrap;
        .text {
          width: 55%;
        }
        .embedded {
          width: 45%;
        }
      }
      .text {
        padding-right: 3em;
      }
      .embedded {
        iframe {
          height: auto;
          max-width: 500px;
          min-height: 300px;
          margin: 2em auto 0;
        }
      }
    }
    p {
      max-width: none;
    }
  }
}

p > br,
li > br {
	margin-bottom: .75rem;
}

// Show more section within list (webinars).
.content-item {
  .accordion {
    color: $primary-color;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: .5rem 0 1rem;
    outline: none;
    transition: all 0.2s ease-out;
    &::after {
      content: 'Show More';
      font-size: 1rem;
      font-weight: 500;
      background: url(/theme/img/icons/arrow-red-down.svg) no-repeat center right / 20px;
      padding-right: 25px;
      text-transform: uppercase;
    }
    &:hover,
    &:active {
      color: $teal;
      &::after {
        background-image: url(/theme/img/icons/arrow-teal-down.svg);
      }
    }
    &.active::after {
      content: 'Show Less';
      background-image: url(/theme/img/icons/arrow-red-up.svg);
    }
    &:hover.active,
    &:active.active {
      color: $teal;
      &::after {
        background-image: url(/theme/img/icons/arrow-teal-up.svg);
      }
    }
  }
  .panel {
    display: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
}

// Tweaks for newsroom content list.
.news.content-list {
  padding-top: 0;
  .row > ul li {
    padding: 0;
    border-bottom: 0;
    margin: 0;
    .source {
      font-style: italic;
    }
  }
  h4 {
    color: #666;
  }
}

// Grid list used in impacts, publications.
.featured-list {
  max-width: 1200px;
  padding: 3em 0;
  margin-top: 2em;
  .row {
    &::after,
    &::before {
      display: none;
    }
    @media screen and (min-width: 40.063em) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      max-width: 94%;
    }
    .featured-item {
      background-color: #fff;
      width: 80%;
      max-width: 500px;
      padding: 0;
      border: 0;
      margin: 1em auto 3em auto;
      box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);
      transition: transform 400ms cubic-bezier(.165,.84,.44,1);
      &:hover,
      &:active {
        //border: 6px solid $red;
        //transition: border .03s;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        transform: scale(1.035);
        .anchor-link {
          color: $primary-color;
        }
      }
      .featured-image {
      	width: 100%;
      	height: 250px;
        background-position: center top;
      	background-size: cover;
      }
      .featured-description {
        h3 {
          color: $primary-color;
          padding: 1em .5em .5em;
        }
        blockquote {
          border: 0;
          p {
            color: $font-color;
            font-size: inherit;
            margin: 0;
          }
        }
        cite {
          color: $font-color;
          font-style: normal;
          display: inline-block;
          padding: 0 1.875em;
          p {
            font-size: inherit;
            margin: 0;
          }
          &::before {
            font-weight: 300;
            position: absolute;
            left: 14px;
          }
        }
        .anchor-link {
          font-size: 1.175em;
          font-weight: 400;
          width: 100%;
          padding: 0 1.875em .75em;
          position: absolute;
          bottom: 0;
          &::after {
            content: '';
            background: url(/theme/img/icons/arrow-red-right.svg) no-repeat center / 60%;
            display: inline-block;
            width: 20px;
            height: 20px;
            position: relative;
            top: 4px;
            left: 4px;
          }
        }
      }
      &.end {
      	//margin-right: auto;
        //margin-left: 3em;
      }
    }
  }
}

.two-column.featured-list .featured-item {
  @media screen and (min-width: 800px) {
    width: 42%;
  }
}

.three-column.featured-list .featured-item {
  @media screen and (min-width: 40.063em) {
    width: 44%
  }
  @media screen and (min-width: 1025px) {
    width: 28%;
  }
}

// 'Featured list' background.
.background-subtle {
  background-color: #f6f6f6;
}

// Padding for absolutely positioned 'learn more' text.
div.impact .featured-list .row .featured-item {
  padding-bottom: 90px;
  position: relative;
}

// Blog page list.
.featured-list .row .blog-item {
  width: 98%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  &:hover,
  &:active {
    transform: scale(1.02);
  }
  article {
    display: flex;
    h3 {
      color: $primary-color;
    	padding: 1.25rem 1.25rem 0;
      margin: 0;
    }
    time {
      display: block;
      color: $gray_60;
      font-size: 1rem;
      font-weight: 300;
      width: 66%;
      margin-bottom: .5rem;
      padding-left: 1.25rem;
    }
    p {
      color: #444;
      font-size: 1.125rem;
      margin: 0 1rem 1rem;
    }
    .post-text {
      width: 70%;
    }
    .post-image {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 30%;
      margin-left: 1rem;
    }
  }
}
