.b-slider {
  background-color:white;
  position: relative;

  > ul {
    display: inline-block;
    margin: 0;
  }

  .b-slider-item {
    background-color: transparent;
    background-image: none;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size:cover;
    background-repeat:norepeat;
    float: left;
    list-style: none;

    img {
      width: 100%;
    }

    .display-table {
      @media only screen and (min-width: 50.063em) {
        height:600px;
      }
      @media screen and (min-width: 1200px) and (min-height: 750px) {
        height:650px;
      }
    }
  }

  #slide-citizen{
    background-color:#376BBA;
    background-image: url(../img/screenshots/slider-bg-test.png);
  }
  #slide-represent{
    background-color:#349CAA;
    background-image: url(../img/screenshots/slider-bg-test.png);
  }
  #slide-3 {
    background-color:$blue;
    background-image: url(../img/screenshots/slider-bg-test.png);
  }

  .display-table, .display-cell{
    @media only screen and (max-width: 50em) {
      display:block!important;
      height: auto!important;
      width:100% !important;
    }
  }

  .slide-left-col {
    padding:10% 5% 10% 13%;
    position:relative;
    @media only screen and (max-width: 50em) {
      padding:10% 7% 5%;
    }

    h2, p, a {
      color:white;
    }
    p {
      font-weight:400;
      margin-top:20px;

      & +p {
        margin-top:40px;
      }
    }

    a {
      i {
        font-size:90%;
        margin-left:20px;
      }
    }
  }

  .slide-right-col{
    position: relative;
    text-align:center;
    @media only screen and (max-width: 50em) {
      padding: 0 7% 10%;
    }

    img.screenshot{
      margin: 0 auto;
      width: 400px;
      @media only screen and (max-width: 50em) {
        width:80%;
      }
    }
  }

  & + .unslider-nav {
    background-color: white;

    ol {
      padding: 0 0 1.8em;
      @media only screen and (max-width: 50em) {
        padding: 1.5em 0;
      }

      li {
        background-color: $gray_15;
        border: none;
        height: 10px;
        margin: 0 7px;
        width: 10px;

        &:hover {
          background-color: $gray_45;
        }

        &.active {
          background-color: $primary_color;
        }
      }
    }
  }
}
