.b-footer {
  background-color: $black;
  color: $white;
  padding-top: 60px;
  padding-bottom: 60px;
  @media only screen and (max-width: 40em) {
      text-align: center;
    }
  h4 {
    color: $white;
    padding-top: .5em;
    padding-bottom:2%;
  }

  .e-footer-left-section {
    max-width: 300px;
    padding-bottom: 30px;

    img {
      margin: 0 0 15px;
      display: block;
      @media only screen and (max-width: 40em) {
        margin:0 auto 15px;
      }
    }
    span{
      display:block;
    }
  }

  .e-footer-right-section {
      padding-top:2%;
  }
}

.e-footer-right-section {
  .button a {
    font-size: 1.2rem;
  }
  .fab {
  	color: $white_70;
    font-size: 2.65em;
    margin-right: 1em;
    margin-bottom: 1em;
    &:hover,
    &:active {
      color: rgba(255, 255, 255, .95);
    }
  }
}
