.b-main-menu {
  display: block;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: solid #e0e0e0 2px;
  clear: both;
  position: relative;
  z-index: 100;
  @media only screen and (min-width: 64.063em) {
    //overflow: hidden;
  }

  .e-main-menu-wrapper {
    display: table;
    margin: 0 auto;
    max-width: 64.063em;
    width: 100%;
    li.is--active > a > span {
      font-weight: 600;
    }
    .child.is--active {
      color: $primary-color;
      font-weight: 600;
    }
    @media only screen and (max-width:1025px) {
      display: block;
      max-width: 100%;
    }
  }

  .e-main-menu-trigger {
    display: none;
    position: absolute;
    right: 25px;
    top: 22px;
    z-index: 900;
    @media only screen and (max-width:1025px) {
      display: block;
    }

    i {
      color: $black;

      &:hover {
        color: $gray_60;
      }
    }
  }

  .b-main-logo {
    margin: 0;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 30%;
    @media only screen and (max-width: 40em) {
      font-size: 2.75rem;
    }
    @media only screen and (max-width:1025px) {
      display: initial;
      width: auto;
    }

    a, span {
      display: inline-block;
      padding: 2px 10px 5px 0;
      @media only screen and (max-width:1025px) {
        display: block;
        max-width: 82%;
        padding: 5px 10px 10px;
        text-align: center;
      }
    }

    a:hover {
      opacity: 0.8;
    }

    span {
      @media only screen and (max-width: 20em) {
        text-align: left;
      }
    }
  }

  .b-main-menu-container {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    @media only screen and (max-width:1025px) {
      display: none;
    }
  }

  &.m-active .b-main-menu-container {
    @media only screen and (max-width:1025px) {
      display: block;
    }
  }

  .b-main-menu-list {
    @media only screen and (min-width: 1050px) {
      margin-right: -20px;
    }

    ul {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0;
      @media only screen and (max-width:1025px) {
        display: block;
        width: 100%;
      }

      &.menu > li {
        border-top: 1px solid #ccc;
        display: block;
        @media only screen and (min-width:1026px) {
          border: none;
          display: inline-block;
          float: left;
        }
      }

      li.has-children {
        position: relative;
      }

      ul {
        text-align: center;
        min-width: 150px;
        @media only screen and (min-width:1026px) {
          left: 0;
          max-height: 0;
          overflow: hidden;
          padding-top: 23px;
          position: absolute;
          text-align: left;
          top: 70px;
          @include transition(400ms ease max-height);
          width: 155%;
          min-width: 200px;
        }

        li {
          display: block;
          text-align: inherit;
        }

        a {
          background: white;
          color: inherit;
          display: block;
          line-height: 1.3;
          padding: 10px 20px;
          text-align: inherit;
          @media only screen and (max-width:1025px) {
            background-color: $gray;
            padding: 15px 5%;
          }

          &:hover {
            color: #c60000;
          }
        }
      }
    }

    li:hover ul {
      @media only screen and (min-width:1026px) {
        max-height: 300px;
      }
    }
  }

  .e-menu-item {
    color: $black;
    display: inline-block;
    font-family: $title-font;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    @media only screen and (max-width:1025px) {
      display: block;
    }

    &:hover {
      color: $gray_60;
      @include transition(300ms ease all);
    }

    span {
      display: block;
      margin: 0;
      padding: 10px 15px;
      @media only screen and (min-width: 1026px) {
        padding: 25px 20px;
      }
    }
  }

  // IE10 Fix
  &.lt-ie10 .e-menu-item {
    font-family: sans-serif;
  }
}
