.b-blog {
  header {
    h2 {
      margin-top: 40px;
      letter-spacing: -1px;
    }
    p {
      font-style: italic;
    }
  }
  .blog-image {
    max-width: 800px;
    margin: 3em auto;
    img {
      max-width: 100%;
      max-height: 400px;
    }
  }
}

.job {
  padding: .75em 1em .25em;
  margin-bottom: 2em;
  transition: all .35s ease-in-out;
  &:hover,
  &:active {
    background-color: $red_70;
  	color: $gray;
  	transition: all .35s ease-in-out;
  	border-radius: 2px;
    h4 {
      color: $gray;
      border-bottom: 2px solid $gray;
    }
    p {
      color: $gray;
    }
  }
  h4 {
    border-bottom: 2px solid #c60000;
  	color: #c60000;
    transition: all .35s ease-in-out;
  }
  p {
    color: #222;
    transition: all .35s ease-in-out;
  }
}
