.b-content-section {
  padding-bottom: 3em;
}

.b-title-section {
	padding-top: 1.5em;
  padding-bottom: 1.5em;
  .e-page-title {
    color: $black;
    font-weight: 600;
    margin: 20px 0 40px;
    text-align: center;
  }
  p.text-center {
    color: $black;
    font-size: 1.15em;
  	font-weight: 400;
  	margin-bottom: 2em;
    @media screen and (min-width: 40.063em) {
      font-size: 1.35em;
    }
  }
}

.b-content-section {
  .minor-subheading {
    font-size: 1.65em;
    font-weight: 400;
  }
  .minor-subheading + .subheading {
    margin-top: 1em;
  }
}

#learn-more a {
  padding: 0.5em 1em;
  background-color: rgba(150, 0, 0, 0.7);
  color: #ffffff;
  font-weight: 400;
  &:hover {
    background-color: rgba(150, 0, 0, 0.5);
    color: #ffffff;
  }
}

.b-text-block {
    margin-bottom: 60px;
    @media only screen and (min-width: 40.063em) and (max-width:1025px) {
      margin-left:auto;
      margin-right:auto;
      max-width:80%;
    }
}

.e-section-title {
  color: $black;
  font-weight: 600;
  margin: 20px 0 40px;
  text-align: center;
}

.m-dark-panel {
  background-color: $primary-color;
  padding-top: 40px;
  padding-bottom: 40px;
}

.border-bottom:after{
  border-bottom:1px solid $gray;
  content: '';
  display:block;
  margin:auto;
  width:70%;
}

.b-mission {
  padding:40px 10px;

  p {
  	margin-bottom:0;
  }
}

.col-header {
  padding: 0;
  img {
    max-height: inherit;
  }
}
.col-content {
  padding: 0 7% 20px;
}


//Medium screens
@media only screen and (min-width: 40.063em) {
  .b-text-block {
    font-size:1.5rem;
    margin-bottom: 70px;
  }

  .e-section-title.big{
    font-size:40px;
    font-weight: 600;
  }

  .b-mission {
    padding:80px 10px;
    p{
      font-size:1.8rem;
    }
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {
  .b-content-section {
    .e-section-title {
      padding-top: 0;
      h2 {
        font-size: 40px;
      }

      &.big{
        font-size:48px;
      }
    }
  }

  .b-text-block {
    a:hover {
      background-color: $primary-color;
      color: $white;
      margin: 0 -5px;
      padding: 0 5px;
    }
  }

  .b-content-section.m-dark-panel {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .b-mission {
    p {
      font-size:2.4rem;
      line-height:1.3;
    }
  }
}
