.three-column>.column{
  padding:0;
}

.col-header {
  color:white;
  min-height: 295px;
  padding:30px 20px;
  text-align:center;

  #services-columns & {
    @media only screen and (max-width:1025px) {
      height: auto !important;
      min-height: 0;
      padding: 2.5em 5%;
    }
  }

  #products-columns & {
    @media only screen and (max-width:1025px) {
      min-height: 320px;
    }
    @media only screen and (max-width:641px) {
      height: auto !important;
      min-height: 0;
      padding: 2.5em 5%;
    }
  }

  .icon-wrap {
    height: 150px;

    #services-columns & {
      @media only screen and (max-width:1025px) {
        height: auto;
      }
    }
    #products-columns & {
      @media only screen and (max-width:641px) {
        height: auto;
      }
    }

    .display-cell {
      vertical-align: middle;
    }
  }

  img {
    max-height: 110px;
  }

  h3 {
    color:white;
    font-weight:bold;
    margin: 0.5em 0 1em;
    @media only screen and (min-width: 40.063em) {
      font-size:1.6rem;
    }

    #services-columns & {
      @media only screen and (max-width:1025px) {
        margin: 1.2em 0 0;
      }
    }
    #products-columns & {
      @media only screen and (max-width:641px) {
        margin: 1.2em 0 0;
      }
    }
  }
}
.col-content {
  background-color: #FFFFFF;
  padding: 45px 7%;

  &.middle{
    background-color:$gray;
  }

  * {
    @media only screen and (min-width: 40.063em) {
      font-size:1.2rem;
    }
  }
}

#products-columns{
  .col-content {
    ul {
      list-style:none;
      @media only screen and (min-width: 64.063em){
        margin-bottom: 30px;
        margin-top: 30px;
      }

      li{
        line-height:1.1;
        margin-left:1em;
        padding: 5px 0;
      }

      li:before {
        color: $blue;
        content: '>';
        float: left;
        font-size: 1.5rem;
        margin: -4px 10px 0 -1em;
      }
    }
  }
}

#products-1 {
  background-color: $blue;
}
#products-2 {
  background-color: #4080E0;
}
#products-3 {
  background-color: #376BBA;
}
#services-1 {
  background-color: #37AABA;
}
#services-2 {
  background-color: #349CAA;
}
#services-3 {
  background-color: #277E8A;
}