html {
  scroll-behavior: smooth;
}

br {
  @media only screen and (max-width: 40em) {
    display: none;
  }
}

iframe {
  width: 100%;
  /*height: 700px;*/
}

picture {
	max-width: 100%;
	height: auto;
	border: none;
}

img.center {
  display: block;
  margin: 1.25rem auto .5rem;
}

section {
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  color: #444;
  font-family: $text-font;
  font-weight: 300;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

// BUTTONS
.button {
  background-color: transparent; // reset foundations button style.
  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.button a,
button,
input.button {
  color: $white;
  font-family: $text-font;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: $red_70;
  padding: .5em;
  border: 0;
  border-radius: 2px;
  &:hover,
  &:active {
    background-color: $red;
  }
  a {
    color: $white;
  }
}

.button.important a,
button.important {
  background-color: $teal_70;
  &:hover,
  &:active {
    background-color: $teal;
    @include dropshadow;
  }
}

.button.text-center,
.button.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button.text-center a,
.button.center a {
  display: block;
  min-width: 200px;
  max-width: 360px;
  margin: 1.5em auto;
}

// TABLES
// Vertically middle align with table/cell
.display-table {
    display: table;
    height: 100%;
    min-height: inherit;
    width: 100%;

    .display-cell {
        display: table-cell;
        float: none !important;
        vertical-align: middle;
    }
}

// HELPER CLASSES
.full-width {
  max-width:100% !important;
}

.fr {
  font-weight: 450;
}

.gray{
  background-color:$gray;
}

.img-placeholder {
  background-color: #aaa;
  border: 1px solid #999;
  height: 0;
  margin: 20px 0;
  padding-bottom: 60%;
  width: 100%;
}
