body {
  font-family: $text-font;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-family: $title-font;
}

.lt-ie10 {
  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
  }
}

p,
ul,
ol,
dl dd,
ul li,
ol li {
  font-weight: 300;
  font-size:1.2rem;
  @media only screen and (max-width: 40em) {
    font-size:1rem;
  }
}

h1, h3 {
  font-weight: 400;
}

h2 {
  font-weight:500
}

.subheading {
  font-weight: 600;
  margin: 2em 0 1rem;
}

a {
  color: $primary-color;
}

strong {
  font-weight: 600;
}

ul strong,
ol strong {
  font-weight: bold;
}

blockquote {
  padding-bottom: .5em;
  border: 0;
  margin-bottom: 0;
  position: relative;
}

.b-content-section blockquote {
  &::before {
    content: '\1F676';
    color: #888;
    font-size: 2em;
    position: absolute;
    top: -.15rem;
    left: -.5rem;
  }
  &::after {
    content: '\1F677';
    color: #888;
    font-size: 2em;
    position: absolute;
    bottom: -.75rem;
    right: 0;
  }
}

html[lang="fr"] .b-content-section blockquote {
  &::before {
    content: '\00AB';
  }
  &::after {
    content: '\00BB';
  }
}

/*dl dt,
dl dd,
ul li {
	font-size: 1.1rem;
}*/

cite {
	padding-left: 3em;
  &::before {
    content: '\2014';
  }
}

cite + p,
blockquote + p {
	margin-top: 1em;
}

// Misc font awesome.
.fas {
  &.fa-chevron-right {
	  font-size: 1rem;
  }
}
